LLM_PROVIDER=gemini

GROQ_API_KEY=
GROQ_MODEL_NAME=

OPENAI_API_KEY=
OPENAI_MODEL_NAME=

GEMINI_API_KEY=
GEMINI_MODEL_NAME=

OPENROUTER_API_KEY=
OPENROUTER_MODEL_NAME=

CEREBRAS_API_KEY=
CEREBRAS_MODEL_NAME=

DEBUG=false
EXTRACTION_MODE=
